[
  {"code": "002339", "name": "积成电子", "industry": "电网设备"},
  {"code": "002237", "name": "恒邦股份", "industry": "贵金属"},
  {"code": "601166", "name": "兴业银行", "industry": "银行"},
  {"code": "002236", "name": "大华股份", "industry": "安防监控"}
]
